<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <%- include('../partials/header'); %>
    </head>
    <style>
        html{
            height: 100vh;
        }
    </style>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Todos os tickets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Todos os pagamentos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#PaymentModal" role="button">Novo Pagamento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#ticketModal" role="button">Novo Ticket</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <table class="table" id="table">
                <thead>
                    <tr id="tableHeader">
                        <th scope="col">ID</th>
                        <th scope="col">HORÁRIO</th>
                        <th scope="col">VALOR</th>
                        <th scope="col">TICKET</th>
                        <th scope="col">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <% Pagamentos.forEach(function(pagamento) { %>
                        <tr>
                            <td> <%= pagamento[0] %> </td>
                            <td> <%= pagamento[1] %> </td>
                            <td> <%= pagamento[2] %> </td>
                            <td> <%= pagamento[3] %> </td>
                            <td>
                                <a href="http://localhost:8082/api/pagamento/del/<%= pagamento[0] %>"><i class="bi bi-trash fs-5" style="color: red;"></i></a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>

        <%- include('../partials/newTicket'); %>
        <%- include('../partials/newPayment'); %>
        <%- include('../partials/footer'); %>
    </body>
</html>